Repository jhburns/shank: changes, and which pre-commit hooks are due for each by the changed paths.
All: pre-commit-hook, pre-push-hook

pre-commit-hook:
  name: Pre commit hook
  language: system
  stages:
  - commit
  entry: ./lint_precommit.sh

pre-push-hook:
  name: Pre push hook
  language: system
  stages:
  - push
  entry: ./test_pre_push.sh

Testing CI
  .github/lint_others.yaml
  .pre-commit-config.yaml
  .yamllint.yaml
  Dockerfile
  lint_precommit.sh
  test_pre_push.sh
Due: pre-commit-hook

Testing CI
  .github/lint_others.yml
Due: none

Fixing CI
  .github/.workflows/lint_others.yaml
Due: pre-commit-hook

Testing CI
  .github/workflows/lint_others.yaml
Due: pre-commit-hook

Testing CI
  .github/workflows/lint.yaml
  .github/workflows/lint_others.yaml
Due: pre-commit-hook

Testing CI
  .github/workflows/lint.yaml
Due: pre-commit-hook

Testing CI
  README.md
Due: pre-commit-hook

Fixing CI
  .github/workflows/lint.yaml
  README.md
Due: pre-commit-hook

Adding test workflows
  .github/workflows/test_debug.yaml
  .github/workflows/test_release.yaml
Due: pre-commit-hook

Testing CI
  .github/workflows/test_release.yaml
Due: pre-commit-hook

Testing CI
  .github/workflows/lint.yaml
  .github/workflows/test_debug.yaml
  .github/workflows/test_release.yaml
Due: pre-commit-hook

Adding lexer for hello world
  src/core/Program.fs
  src/core/core.fsproj
  src/core/frontend/Lexer.fs
Due: pre-commit-hook, pre-push-hook

Testing CI
  README.md
  lint_precommit.sh
Due: pre-commit-hook

Changing jobs name
  .github/workflows/lint.yaml
  .github/workflows/test_debug.yaml
  .github/workflows/test_release.yaml
Due: pre-commit-hook

Fxing jobs name
  .github/workflows/lint.yaml
  .github/workflows/test_debug.yaml
  .github/workflows/test_release.yaml
Due: pre-commit-hook

Fixing fsharp liniting
  README.md
  lint_precommit.sh
  src/core/Program.fs
  src/core/frontend/Lexer.fs
Due: pre-commit-hook, pre-push-hook

Changing lexer interface to return immutable list
  src/core/frontend/Lexer.fs
Due: pre-commit-hook, pre-push-hook

Adding initial parser
  src/core/Program.fs
  src/core/frontend/Lexer.fs
  src/core/frontend/Parser.fs
Due: pre-commit-hook, pre-push-hook

Migrating to new index syntax
  src/core/core.fsproj
  src/core/frontend/Lexer.fs
  src/core/frontend/Parser.fs
Due: pre-commit-hook, pre-push-hook

Fixing index notation style rule
  src/core/core.fsproj
  src/core/frontend/Lexer.fs
  src/core/frontend/Parser.fs
Due: pre-commit-hook, pre-push-hook

Removing optional `new`s
  src/core/frontend/Lexer.fs
  src/core/frontend/Parser.fs
Due: pre-commit-hook, pre-push-hook

Refactoring and moving unreachable exception to util
  src/core/Program.fs
  src/core/core.fsproj
  src/core/frontend/Lexer.fs
  src/core/frontend/Parser.fs
  src/core/util/Exception.fs
Due: pre-commit-hook, pre-push-hook

Path conditions:
  pre-commit-hook: any of: ^.*\.(md|yaml|fs)$
  pre-push-hook: any of: ^.*\.(fs|fsproj)$
